<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/"> Home </a> |
        <a href="/work"> Work </a> |
        <a href="/about"> About </a> |
        <% if (locals.user) { %>
            <a href="/profile/<%= locals.user.username %>"> Profile </a> |
        <% } %>
        <a href="/login"> Login </a> |
    </nav>